<div class="row">
    <div class="col-12">
        <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                    <h6 class="text-white text-capitalize ps-3">Lịch sử giao dịch</h6>
                </div>
            </div>
            <div class="card-body px-0 pb-2">
                <div class="table-responsive p-0">
                    <table class="table align-items-center mb-0">
                        <thead>
                            <tr>
                                <th class="text-uppercase text-secondary text-md font-weight-bolder opacity-7">
                                    UserId</th>
                                <th class="text-uppercase text-secondary text-md font-weight-bolder opacity-7">
                                    Type</th>
                                <th class="text-uppercase text-secondary text-md font-weight-bolder opacity-7 ps-2">
                                    status
                                </th>
                                <th
                                    class="text-center text-uppercase text-secondary text-md font-weight-bolder opacity-7">
                                    money</th>
                                <th
                                    class="text-center text-uppercase text-secondary text-md font-weight-bolder opacity-7">
                                    date</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each histories}}
                            <tr>
                                <td class="align-middle text-center text-md">
                                    <span class="text-md">{{id}}</span>
                                </td>
                                <td class="align-middle text-center text-md">
                                    <span class="text-md">{{position}}</span>
                                </td>
                                <td class="align-middle text-center text-md">
                                    <span class="text-md">{{status}}</span>
                                </td>
                                <td class="align-middle text-center text-md">
                                    <span class="text-md">{{money}}</span>
                                </td>
                                <td class="align-middle text-center text-md">
                                    <span class="text-md">{{createdAt}}</span>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
