
<div class="d-flex justify-content-end mb-3">
    <button type="button" class="btn bg-gradient-primary btn-block" data-bs-toggle="modal"
        data-bs-target="#exampleModalSignUp">
        <i class="material-icons opacity-10">add</i>
    </button>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModalSignUp" tabindex="-1" role="dialog" aria-labelledby="exampleModalSignTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title font-weight-normal" id="exampleModalLabel">
                    Add Product
                </h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body p-0">
                <div class="card-body pb-3">
                    <form role="form text-left" id="add-location-form" action="/createProduct" method="post">
                        <div class="input-group input-group-outline my-3">
                            <label class="form-label">Product Code</label>
                            <input type="text" class="form-control" name="code" id="add-name-input">
                        </div>
                        <div class="input-group input-group-outline my-3">
                            <label class="form-label">Name</label>
                            <input type="text" class="form-control" name="name" id="add-name-input">
                        </div>
                        <div class="input-group input-group-outline my-3">
                            <label class="form-label">Img</label>
                            <input type="file" class="form-control" name="img" id="add-img-input">
                        </div>
                    </form>
                    <p class="text-danger" id="errmsg"></p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn bg-gradient-primary" form="add-location-form">Add</button>
                <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Edit-->
<div class="modal fade" id="ModalEditCategory" tabindex="-1" role="dialog" aria-labelledby="exampleModalSignTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title font-weight-normal" id="exampleModalLabel">Update Product</h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body p-0">
                <div class="card-body pb-3">
                    <form role="form text-left" id="edit-category-form" method="post">
                        <div class="input-group input-group-outline my-3">
                            <label class="form-label">Product code</label>
                            <input type="text" class="form-control" name="code" id="add-name-input">
                        </div>
                        <div class="input-group input-group-outline my-3">
                            <label class="form-label">Name</label>
                            <input type="text" class="form-control" name="name" id="add-name-input">
                        </div>
                        <div class="input-group input-group-outline my-3">
                            <label class="form-label">img</label>
                            <input type="text" class="form-control" name="img" min="0" id="add-capacity-input">
                        </div>
                    </form>
                    <p class="text-danger" id="errmsg2"></p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn bg-gradient-primary" form="edit-category-form">Update</button>
                <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ModalDeleteProduct" tabindex="-1" role="dialog" aria-labelledby="exampleModalSignTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header" >
                <h6 class="modal-title font-weight-normal" id="exampleModalLabel" style="text-align: center;">Delete Product</h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body p-0">
                <div class="card-body pb-3" style="text-align: center; color: black">
                    Do you want to Delele ?
                </div>
                <form role="form text-left" id="delete-category-form" method="post">
                </form>
            </div>
            <div class="modal-footer" style="text-align: center;">
                <button type="submit" class="btn bg-gradient-primary" form="delete-category-form">Yes</button>
                <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-12">
        <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                    <h6 class="text-white text-capitalize ps-3">List Products</h6>
                </div>
            </div>
            <div class="card-body px-0 pb-2">
                <div class="table-responsive p-0">
                    <table class="table align-items-center mb-0">
                        <thead>
                            <tr>
                                <th class="text-uppercase text-secondary text-md font-weight-bolder opacity-7">
                                    ProductId</th>
                                <th class="text-uppercase text-secondary text-md font-weight-bolder opacity-7">
                                    Name
                                </th>
                                <th class="text-uppercase text-secondary text-md font-weight-bolder opacity-7">
                                    Product Code
                                </th>
                                <th class="text-uppercase text-secondary text-md font-weight-bolder opacity-7 ps-2">
                                    Image
                                </th>
                                <th class="text-secondary opacity-7"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each products}}
                            <tr>
                                <td>
                                    <div class="d-flex px-4 py-1">
                                        <div class="d-flex flex-column justify-content-center">
                                            <h6 class="mb-0 text-md">{{id}}</h6>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex px-4 py-1">
                                        <div class="d-flex flex-column justify-content-center">
                                            <h6 class="mb-0 text-md">{{name}}</h6>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex px-4 py-1">
                                        <div class="d-flex flex-column justify-content-center">
                                            <h6 class="mb-0 text-md">{{code}}</h6>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <p class="text-md font-weight-bold mb-0">{{img}}</p>
                                </td>
                                <td class="align-middle" style="float: right">
                                    <button style="height: auto; margin: auto" type="button" class="btn bg-gradient-primary btn-block"
                                        data-bs-toggle="modal" data-bs-target="#ModalEditCategory" data-name="{{username}}" 
                                        data-code="{{code}}" data-img="{{img}}" data-id="{{id}}">
                                        <i class="material-icons opacity-10">edit</i>
                                    </button>
                                    <button style="height: auto; margin: auto" type="button" class="btn bg-gradient-primary btn-block"
                                        data-bs-toggle="modal" data-bs-target="#ModalDeleteProduct" data-id="{{id}}">
                                        <i class="material-icons opacity-10">delete</i>
                                    </button>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/core/jquery-3.6.0.min.js"></script>

<script>
    const editModal = $('#ModalEditCategory');
    editModal.on('shown.bs.modal',function(e){
        $('#edit-name-input').val($(e.relatedTarget).attr("data-name"));
        $('#edit-code-input').val($(e.relatedTarget).attr("data-code"));
        $('#edit-img-input').val($(e.relatedTarget).attr("data-img"));
        $('#edit-category-form').attr("action",`/updateProduct?id=${$(e.relatedTarget).attr("data-id")}`);
    })
    
    const deleteModal = $('#ModalDeleteProduct');
    deleteModal.on('shown.bs.modal',function(e){
        $('#delete-category-form').attr("action",`/deleteProduct?id=${$(e.relatedTarget).attr("data-id")}`);
    })


    $(".modal").on("hidden.bs.modal", function() {
        $("input").val("");
        $(".input-group-outline").removeClass("is-filled");
    });
</script>